{# Imports #}
{% from "patterns/header-v2/_header-v2.njk" import wmndsHeaderV2 %}
{% from "patterns/footer/_footer.njk" import wmndsFooter %}

<!DOCTYPE html>
<html lang="en" class="wmnds-html">
  <!-- Head -->
  {% include "_layout/_partials/_head.njk" %}

  <body class="wmnds-body">
    {# Header #}
    {% include "_layout/_partials/_nav.njk" %}
  <div class="wmnds-container">
    <!-- Phase banner -->
    <div class="wmnds-banner-container">
      <div class="wmnds-col-1">
        <div class="wmnds-banner-container__phase-wrapper">
          <span class="wmnds-phase-indicator">
            Alpha
          </span>
        </div>
        <p class="wmnds-banner-container__text">
          This is a prototype, not everything will work as expected.
        </p>
      </div>
    </div>
  </div>
</header>

    <main class="wmnds-container wmnds-container--main">
      {% block body %} {% endblock body %}
    </main>
    
    {# Footer #}
    {{ wmndsFooter() }}

    <!-- Scripts -->
    {% include "_layout/_partials/_scripts.njk" %}
  </body>
</html>